@page "/produtos/detalhes/{id:int}"
@using Blazor_App_EP.Data
@using Microsoft.EntityFrameworkCore
@using Blazor_App_EP.Components.Produtos

@inject ApplicationDbContext context
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Produtos</h2>
    <hr />
    @if (produtos is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@produtos.Nome</dd>
            <dt class="col-sm-2">Descricao</dt>
            <dd class="col-sm-10">@produtos.Descricao</dd>
            <dt class="col-sm-2">Categoria</dt>
            <dd class="col-sm-10">@produtos.Categoria</dd>
            <dt class="col-sm-2">Preco</dt>
            <dd class="col-sm-10">@produtos.Preco</dd>
            <dt class="col-sm-2">DisponivelEstoque</dt>
            <dd class="col-sm-10">@produtos.DisponivelEstoque</dd>
            <dt class="col-sm-2">DataValidade</dt>
            <dd class="col-sm-10">@produtos.DataValidade</dd>
        </dl>
        <div>
            <a href="@($"/produtos/editar/{produtos.Id}")">Edit</a> |
            <a href="@($"/produtos")">Back to List</a>
        </div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Produtos? produtos;

    protected override async Task OnInitializedAsync()
    {
        produtos = await context.Produtos.FirstOrDefaultAsync(m => m.Id == Id);

        if (produtos is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
